<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="user.dateOfBirth"></ion-datetime>
    </ion-item>
  </ion-card-content>
</ion-card>

<button ion-button (click)="save()">Save</button>