page-register {
    ion-card{
        margin-top: 50px !important;
    }

    ion-card ion-row{
        padding: 20px;
        float:right;
    }

    img{
        width: 200px;
        height: auto;
    }
}
