profile-view {
    .profile_view_image_container{
        background-color: rgb(148, 183, 223);
        height: 220px;
    }

    .profile_view_image{
        padding-top: 20px;
        height: 200px;
        max-height: 200px;
    }
}
